# Mini Project 4: Specialty Foods Inc. - SQL Exercises

## Introduction

**Business Context.** Specialty Foods Inc. is a food retailer focusing on the higher end of the market. You are a new member of the marketing team that was hired based on your data analytic skills. The company is interested in improving business results through more data-driven analysis and decision making. Traditionally the marketing department has launched campaigns to increase sales using qualitative analysis that has focused on previous experience and an understanding of the market. 
Given your data analytic skills, your manager has asked you to help the marketing team by  gathering insights into the type of customers the company has and the products they buy. You are also asked to review past campaigns and suggest improvements for future marketing campaigns. In addition to gaining a better understanding of the business your analysis should result in specific recommendations on how the company can improve business results.

**Objective:** The goal of this mini project 4 is to practice your SQL skills by querying and aggregating data. Additionally you will use Tableau to create professional data visualizations.

**Analysis / Data Analytics:** For your analysis your team should begin by answering the questions below. However these questions are aimed only to get you started and practice your skills. You should consider further analysis and determine what additional questions will help in both understanding the business and making recommendations to improve the business’s results.

### Tools used in this project

SQL is a key tool used for data analysis. It is used for querying and accessing data, performing data cleaning, and analyzing data that is stored in databases. It performs some similar tasks that we have used Excel for but is a more powerful tool when manipulating larger datasets and provides some of the flexibility found in programming languages.

Tableau is a professional data visualization software that is widely used in industry. It is a great tool for storytelling with data. Once you are familiar with its functionality you should notice some similarities with Excel which will allow you to quickly get up to speed with the Tableau software. Use Tableau to create your charts similar to those in Excel for presenting your data insights and it can also be used for exploratory data analysis.

## Overview of the data

The data for this case is contained in three separate tables which are extracts from the customer, sales, and marketing databases of the company and contain the information below:

**Customer table includes the following information:**
* **ID**: customer unique ID
* **Income**: customer’s yearly household income
* **Kids**: number of small children in the household
* **Teens**: number of teenagers in the household
* **Age**: age of customer
* **Divorced**: 1 if the person is divorced, 0 otherwise
* **Married**: 1 if the person is married, 0 otherwise
* **Single**: 1 if the person is single, 0 otherwise
* **Together**: 1 if the person is living with a partner, 0 otherwise
* **Widowed**: 1 if the person is widowed, 0 otherwise
* **Basic**: 1 if education is secondary level (high school), 0 otherwise
* **Graduate**: 1 if education is university level, 0 otherwise
* **Master**: 1 if education is masters level, 0 otherwise
* **PhD**: 1 if education is doctorate level, 0 otherwise
* **State**: US state of residency

**Sales table includes the following information:**
* **ID**: customer unique ID
* **Recency**: days since last purchase
* **Wines**: amount spent on wine
* **Fruits**: amount spent on fruit
* **Meats**: amount spent on meat
* **Seafood**: amount spent on seafood
* **Sweets**: amount spent on sweets
* **Premium**: amount spent on premium products
* **Regular**: amount spent on standard products
* **Deals**: number of purchases made with a discount
* **Web**: number of website purchases
* **Catalog**: number of catalog purchases
* **Store**: number of in-store purchases
* **Days**: number of days since last purchase
* **Visits**: number of website visits in past 3 months

**Marketing table includes the following information:**
* **ID**: customer unique ID
* **MC3**: 1 if customer made a purchase based on Campaign 3, otherwise 0
* **MC4**: 1 if customer made a purchase based on Campaign 4, otherwise 0
* **MC5**: 1 if customer made a purchase based on Campaign 5, otherwise 0
* **MC1**: 1 if customer made a purchase based on Campaign 1, otherwise 0
* **MC2**: 1 if customer made a purchase based on Campaign 2, otherwise 0
* **Complaint**: 1 if customer made a complaint in past year
* **Pilot**: 1 if customer made a purchase based on a recent pilot marketing campaign for a new product, otherwise 0
* **Enrollment**: date the customer enrolled with the company

### Your Task

In addition to brainstorming with your team members, you should discuss with your TAs and learn from other fellows to explore other techniques for using SQL and Tableau.

For your analysis your team should begin by answering the questions below. However these questions are aimed only to get you started and practice your skills. You should consider further analysis and determine what additional questions will help in both understanding the business and making recommendations to improve the business’s results. You can add cells to this jupyter notebook in order to run additional sql queries that can help you investigate the dataset and develop your analysis.

**Deliverables.**   

Place the code answers to the SQL questions in the Jupyter Notebook. Add as many additional code cells as you need in order to complete your analysis. Also include any written responses to the respective SQL questions, and the rationale for your additional SQL analyses in the Jupyter Notebook within a markdown (text) cell.  

Place the link(s) to your Tableau visualizations in a markdown cell at the end of the jupyter notebook.

### Getting Started

We will begin by loading a database containing Specialty Foods' customer, sales, and marketing data tables. These next two cells are not standard SQL, so just run them as is.

In [1]:
%FETCH https://amzn-dana.workspace-lite.correlation-one.com/case.sql_tableau_mini_project_fellow/files/data/specialtyfoods.db specialtyfoods

Start downloading from URL https://amzn-dana.workspace-lite.correlation-one.com/case.sql_tableau_mini_project_fellow/files/data/specialtyfoods.db
Downloading https://amzn-dana.workspace-lite.correlation-one.com/case.sql_tableau_mini_project_fellow/files/data/specialtyfoods.db 0.41% complete
Downloading https://amzn-dana.workspace-lite.correlation-one.com/case.sql_tableau_mini_project_fellow/files/data/specialtyfoods.db 1e+02% complete
Finished downloading 249856 bytes from URL https://amzn-dana.workspace-lite.correlation-one.com/case.sql_tableau_mini_project_fellow/files/data/specialtyfoods.db
Writing downloaded data to file specialtyfoods
Finished writing file

In [2]:
%LOAD specialtyfoods RW

Using our new database query the tables to understand what type of data is included in each table.

Let's query the customer table in our database like this:

In [3]:
SELECT * FROM customer LIMIT 5;

+------+--------+------+-------+-----+----------+---------+--------+----------+-------+-------+----------+--------+-----+------------------+
| ID   | Income | Kids | Teens | Age | Divorced | Married | Single | Together | Widow | Basic | Graduate | Master | PhD | State            |
+------+--------+------+-------+-----+----------+---------+--------+----------+-------+-------+----------+--------+-----+------------------+
| 2873 | 213734 | 0.0  | 0.0   | 75  | 0        | 0       | 1      | 0        | 0     | 0     | 0        | 0      | 1   | State-California |
+------+--------+------+-------+-----+----------+---------+--------+----------+-------+-------+----------+--------+-----+------------------+
| 1629 | 205471 | 0.0  | 0.0   | 50  | 0        | 0       | 0      | 1        | 0     | 0     | 1        | 0      | 0   | State-Texas      |
+------+--------+------+-------+-----+----------+---------+--------+----------+-------+-------+----------+--------+-----+------------------+
| 1239 | 202692 | 0.0  | 0.0   | 46  | 1        | 0       | 0      | 0        | 0     | 0     | 1        | 0      | 0   | State-Texas      |
+------+--------+------+-------+-----+----------+---------+--------+----------+-------+-------+----------+--------+-----+------------------+
| 1191 | 202160 | 0.0  | 0.0   | 43  | 0        | 0       | 0      | 1        | 0     | 0     | 0        | 0      | 1   | State-Texas      |
+------+--------+------+-------+-----+----------+---------+--------+----------+-------+-------+----------+--------+-----+------------------+
| 1116 | 201970 | 0.0  | 0.0   | 37  | 0        | 0       | 1      | 0        | 0     | 0     | 1        | 0      | 0   | State-Florida    |
+------+--------+------+-------+-----+----------+---------+--------+----------+-------+-------+----------+--------+-----+------------------+

### Exercise 1

Simiarly, explore the marketing and sales tables.

Write a query to understand your data in the sales table.

In [6]:
SELECT *
FROM sales LIMIT 5;

+------+---------+-------+--------+-------+---------+--------+---------+---------+-------+---------+---------+-------+--------+
| ID   | Recency | Wines | Fruits | Meats | Seafood | Sweets | Premium | Regular | Deals | Website | Catalog | Store | Visits |
+------+---------+-------+--------+-------+---------+--------+---------+---------+-------+---------+---------+-------+--------+
| 1428 | 99      | 0     | 36     | 18    | 42      | 36     | 72      | 60      | 1     | 1.0     | 0.0     | 3     | 8      |
+------+---------+-------+--------+-------+---------+--------+---------+---------+-------+---------+---------+-------+--------+
| 2152 | 99      | 0     | 36     | 18    | 42      | 36     | 72      | 60      | 1     | 1.0     | 0.0     | 3     | 8      |
+------+---------+-------+--------+-------+---------+--------+---------+---------+-------+---------+---------+-------+--------+
| 2014 | 99      | 21    | 42     | 55    | 13      | 34     | 68      | 97      | 1     | 1.0     | 0.0     | 3     | 8      |
+------+---------+-------+--------+-------+---------+--------+---------+---------+-------+---------+---------+-------+--------+
| 2660 | 99      | 81    | 0      | 27    | 0       | 3      | 13      | 98      | 1     | 1.0     | 0.0     | 3     | 5      |
+------+---------+-------+--------+-------+---------+--------+---------+---------+-------+---------+---------+-------+--------+
| 1196 | 99      | 175   | 0      | 23    | 0       | 0      | 13      | 184     | 1     | 2.0     | 0.0     | 3     | 6      |
+------+---------+-------+--------+-------+---------+--------+---------+---------+-------+---------+---------+-------+--------+

**Answer.**

Write a query to understand your data in the marketing table.

In [7]:
SELECT *
FROM marketing LIMIT 5;

+------+-----+-----+-----+-----+-----+-----------+-------+------------+
| ID   | MC3 | MC4 | MC5 | MC1 | MC2 | Complaint | Pilot | Enrollment |
+------+-----+-----+-----+-----+-----+-----------+-------+------------+
| 1188 | 0   | 1   | 0   | 0   | 0   | 0         | 0     | 12/3/2020  |
+------+-----+-----+-----+-----+-----+-----------+-------+------------+
| 1970 | 0   | 0   | 0   | 0   | 0   | 0         | 0     | 12/3/2020  |
+------+-----+-----+-----+-----+-----+-----------+-------+------------+
| 1043 | 0   | 0   | 0   | 0   | 0   | 0         | 0     | 12/2/2020  |
+------+-----+-----+-----+-----+-----+-----------+-------+------------+
| 1777 | 0   | 0   | 0   | 0   | 0   | 0         | 0     | 12/2/2020  |
+------+-----+-----+-----+-----+-----+-----------+-------+------------+
| 2787 | 0   | 0   | 0   | 1   | 0   | 0         | 0     | 12/2/2020  |
+------+-----+-----+-----+-----+-----+-----------+-------+------------+

**Answer.**

### Exercise 2

Query the database for the products that are purchased by customers based on marital status.

Specifically, join the customer and products tables and create a query for amount of wine (TotalWines) purchased by customers based on whether they are divorced or not.

Expected output:

Divorced	TotalWines

        0	1538225
        1	196111

In [8]:
SELECT customer.Divorced, SUM(sales.Wines) AS TotalWines
FROM sales JOIN customer
ON customer.ID = sales.Id
Group by Divorced

+----------+------------+
| Divorced | TotalWines |
+----------+------------+
| 0        | 1538225    |
+----------+------------+
| 1        | 196111     |
+----------+------------+

**Answer.**

### Exercise 3

Query the database to determine what type of customers purchase which products. Can you describe what are the types of customers, e.g. what is the customer persona or segment.

Specifically, create a query to find the total amount spent on sweets (TotalSweets) for customers who have education above the university level and who are not single.

Expected output:

Master	PhD	TotalSweets

    0	1	17683
    1	0	15213

In [9]:
SELECT customer.Master, customer.PhD, SUM(sales.Sweets) AS TotalSweets
FROM sales JOIN customer
ON customer.ID = sales.ID
Where Single=0 and (Master=1 OR PhD = 1)
Group by customer.Master,customer.PhD

+--------+-----+-------------+
| Master | PhD | TotalSweets |
+--------+-----+-------------+
| 0      | 1   | 17683       |
+--------+-----+-------------+
| 1      | 0   | 15213       |
+--------+-----+-------------+

**Answer.**

### Exercise 4

Query your database to discover which products bring in the most revenues for different customer segments.

Specifically, create a query to find the average age (AveAge) and average income (AveIncome) of customers from California along with their total sales for meats (TotalMeats) and seafood (TotalSeafood).

Expected output:

AveAge:  50.30810810810811

AveIncome:  152234.3135135135

TotalMeats:  147089

TotalSeafood:  40222

In [10]:
SELECT AVG(customer.Age) AS AveAge, AVG(customer.Income) AS AveIncome, SUM(sales.Meats)AS TotalMeats, SUM(sales.seafood) AS TotalSeafood
FROM sales JOIN customer
ON customer.ID = sales.ID
WHERE State = "State-California"

+------------------+------------------+------------+--------------+
| AveAge           | AveIncome        | TotalMeats | TotalSeafood |
+------------------+------------------+------------+--------------+
| 50.3081081081081 | 152234.313513514 | 147089     | 40222        |
+------------------+------------------+------------+--------------+

**Answer.**

## SQL Bonus Question (Optional)

### Exercise 5

Create one query that outputs the total sales from premium products and the average income of customers for customers over the age of 50 who participated in marketing campaign 5. 

Hint: use two inner joins

Expected output:

TotalPremium:  12077

AveIncome:  181205.7972972973

In [11]:
SELECT SUM(sales.Premium) AS TotalPremium, AVG(customer.Income) AS AveIncome
FROM sales
INNER JOIN customer
ON customer.ID = sales.ID
 INNER JOIN marketing
ON customer.ID=marketing.ID
WHERE customer.Age> 50 AND marketing.MC5=1;

+--------------+------------------+
| TotalPremium | AveIncome        |
+--------------+------------------+
| 12077        | 181205.797297297 |
+--------------+------------------+

**Answer.**

### Your Analysis

This ends the directed part of the analysis. Be sure to continue your own analysis below, adding code and markdown cells as needed.